.baner {
  height: 65vh;
}
.baner::before {
  background-image: url(../../img/extras/extrasBackground.jpg);
  background-attachment: fixed;
  filter: brightness(50%);
}
.baner h1 {
  top: 60%;
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
}
.faq {
  margin: 5% auto;
  width: 50%;
  height: 60vh;
}
.faq h1 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 5%;
}
.faq .question {
  height: 5vh;
  margin: 3% 0 0;
  border-bottom: 1px solid black;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}
.faq .question div {
  position: relative;
}
.faq .question.active {
  height: 17vh;
}
.faq .question h2 {
  margin-bottom: 2%;
  font-weight: 300;
  font-style: italic;
}
.faq .question div i {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  font-size: 13px;
}
.faq .question div i.fa-chevron-up {
  display: none;
}
.faq .question p {
  margin-top: 2%;
  font-weight: 100;
  font-style: italic;
}
.faq .question section i {
  margin: 3% 2% 3% 0;
  color: black;
  font-size: 20px;
}
.contactFooterWrapper {
  padding-top: 1%;
  background-color: #ddd;
}
