.baner {
  height: 60vh;
}
.baner::before {
  background-image: url(../../img/extras/extrasBackground.jpg);
  background-attachment: fixed;
  filter: brightness(60%);
}
.baner h1 {
  top: 60%;
  font-style: italic;
  font-weight: 500;
}
.text {
  margin: 5% auto;
  max-width: 35%;
  text-align: center;
}
.text h1 {
  font-weight: 300;
  margin: 5% 0 2%;
  font-size: 25px;
  font-style: italic;
}
.text p {
  font-weight: 100;
  font-style: italic;
  margin-bottom: 5%;
  line-height: 30px;
}
.contactFooterWrapper {
  padding-top: 1%;
  background-color: #ddd;
}
